@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    overflow-x: hidden;
}

img {
    user-select: none;
}

body {
    overflow-x: hidden;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background-color: #161a1d;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100px;
    background: #9B9B7A;
    color: #fff;
}

.nav-logo a img {
    width: 100px;
    height: 100px;
    margin-top: 25px;
}

.icons {
    display: flex;
    gap: 40px;
}

.icons a {
    color: white;
    font-size: 20px;
}

.menu-wrap {
    position: fixed;
    top: 20px;
    left: 0;
    z-index: 10;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    /* background: var(--primary-color); */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger line */
.menu-wrap .hamburger>div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Top and bottom lines */
.menu-wrap .hamburger>div:before,
.menu-wrap .hamburger>div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* Moves line down */
.menu-wrap .hamburger>div:after {
    top: 10px;
}

/* Toggler animate */
.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}

/* Turn Lines into X */
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}

/* Show menu */
.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: 0.75s;
}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu>div {
    background-color: rgba(18, 30, 40, 0.85);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu>div>div>ul>li>a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li>a .button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

/* button styling */
.menu-wrap .menu>div>div>ul>li>a .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.menu-wrap .menu>div>div>ul>li>a .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

.product-nav {
    height: 50px;
    background-color: #222;
    width: 100%;
}

.product-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.product-nav ul li a {
    font-family: Poppins;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.product-nav ul .active{
    background-color: #87986a;
    border-radius: 0px 10px ;
}

.link {
    position: relative;
    list-style: none;
    padding: 4px 0;
}

.link::after,
.link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all 0.6s ease-in-out;
}

.link::after {
    top: 0;
    right: 0;
    transform-origin: right;

}

.link::before {
    left: 0;
    bottom: 0;
    transform-origin: left;
}

.link:hover::after,
.link:hover::before {
    width: 100%;
}


.products {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.product {
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(35px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product img {
    max-width: 100%;
    height: 250px;
}

.product-info {
    padding: 20px;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.product-detail {
    margin-bottom: 15px;
    color: white;
}

.primary-button {
    font-family: 'Ropa Sans', sans-serif;
    /* font-family: 'Valorant', sans-serif; */
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border: 1px solid #0E1822;
    padding: 0.8rem 2.1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-color: #0E1822;
    background-size: 200%;
    background-position: 200%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    transition-property: background-position, border, color;
    position: relative;
    z-index: 1;
    width: 240px;

}

.primary-button:hover {
    border: 1px solid #FF4655;
    color: white;
    background-position: 40%;
}

.primary-button:before {
    content: "";
    position: absolute;
    background-color: #0E1822;
    width: 0.2rem;
    height: 0.2rem;
    top: -1px;
    left: -1px;
    transition: background-color 0.15s ease-in-out;
}

.primary-button:hover:before {
    background-color: white;
}

.primary-button:hover:after {
    background-color: white;
}

.primary-button:after {
    content: "";
    position: absolute;
    background-color: #FF4655;
    width: 0.3rem;
    height: 0.3rem;
    bottom: -1px;
    right: -1px;
    transition: background-color 0.15s ease-in-out;
}

.button-borders {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.button-borders:before {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    top: -0.3em;
    border: 1px solid #0E1822;
    border-bottom: 0px;
    /* opacity: 0.3; */
}

.button-borders:after {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    bottom: -0.3em;
    border: 1px solid #0E1822;
    border-top: 0px;
    /* opacity: 0.3; */
    z-index: 0;
}

.shape {
    fill: #0E1822;
}

.modal-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.modal-content::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/images/background.jpg');
    /* Replace 'your-image-url.jpg' with the URL of your image */
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    /* Adjust the blur radius as needed */
    z-index: -1;
}

/* Rest of your CSS */

.modal-content {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-image {
    height: 400px;
    width: 500px;
}

.arrow {
    cursor: pointer;
    height: 30px;
    left: 95%;
    position: absolute;
    top: 8%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform 0.1s;
    width: 30px;
}

.arrow-top,
.arrow-bottom {
    background-color: #666;
    height: 4px;
    left: -5px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.arrow-top:after,
.arrow-bottom:after {
    background-color: #fff;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
}

.arrow-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.arrow-top:after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
}

.arrow-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}

.arrow-bottom:after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
}

.arrow:hover .arrow-top:after {
    left: 0;
    transition-delay: 0.15s;
}

.arrow:hover .arrow-bottom:after {
    right: 0;
    transition-delay: 0s;
}

.arrow:active {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
}

.section {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.section-1 #product-details h2,
p {
    color: white;
}

.section-2 {
    height: 100%;
    /* Ensure the image takes up the full height */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.light-holder .light {
    position: absolute;
    top: 40%;
    left: -40%;
    width: 900px;
    height: 400px;
    transform: rotate(180deg);
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
    background: rgba(255, 255, 255, 0.775);
    background: linear-gradient(180deg,
            rgb(220, 222, 248) 0%,
            rgba(255, 255, 255, 0) 75%,
            rgba(255, 255, 255, 0) 100%);
    z-index: -1;
}

.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating {
    display: inline-block;
    margin-bottom: 50px;
}

.rating input {
    display: none;
}

.rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}

.rating label:before {
    content: '\2605';
    font-size: 30px;
}

.rating input:checked~label,
.rating label:hover,
.rating label:hover~label {
    color: #6f00ff;
    transition: color 0.3s;
}

.buy-button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    margin-bottom: 10px;
    width: 200px;
}

.buy-button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.buy-button:hover::before {
    scale: 3;
}

.buy-button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.buy-button:active {
    scale: 1;
}


/* Add styles for the close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    /* Increase font size */
    padding: 10px;
    /* Increase padding */
    transition: transform 0.3s ease;
    /* Add transition effect */
    /* z-index: 5; */
}

/* Rotate the close button when hovered */
.close:hover {
    transform: rotate(90deg);
    /* Rotate the close button */
}


/* Adjust padding for the modal content to make space for the close button */
.modal-content {
    padding: 50px 20px 20px 20px;
    /* Adjust top padding to make space for the close button */
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add this CSS to blur the background */
/* Remove blur effect from the background */
.products {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    /* filter: blur(5px); */
    /* Remove this line to remove the blur effect */
}

#product-modal {
    display: none;
    /* Initially hide the product modal */
}